@model WebSiteSurvey.Models.WebsiteExperienceSurveyModel

<div class="jumbotron">
    <h1>WebSiteSurvey</h1>
    <p class="lead">Share your opinion and suggestions about how to improve our website experience!</p>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h2>Tell us your experience...</h2>

        @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
        {
            <p>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "What is your name?" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "your.email@domain.com" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age)
                    @Html.TextBoxFor(model => model.Age, new { @class = "form-control", type = "number", placeholder = "" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender)
                    @Html.DropDownListFor(model => model.Gender, Model.Genders, new { @class = "form-control", placeholder = "Gender" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country)
                    @Html.DropDownListFor(model => model.Country, Model.Countries, new { @class = "form-control", placeholder = "Country" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExperienceRating)
                    @Html.TextBoxFor(model => model.ExperienceRating, new { @class = "form-control", type = "range", min = "0", max = "5", step = "1" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Suggestion)
                    @Html.TextAreaFor(model => model.Suggestion, new { @class = "form-control", type = "range", rows = "5" })
                </div>
            </p>
            <p>
                <button name="action" value="clear" class="btn btn-default">Clear</button>
                <button name="action" value="save" class="btn btn-default">Save Changes</button>
            </p>
        }

    </div>
    <div class="col-md-2">

    </div>
</div>